


.topbarContainer {
    height: 60px;
    width: 102%;
    background-color: #b18543;
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: -1rem;
    top: -1rem;
    z-index: 999;
  }


.AreaElementos {

    font-size: x-large;
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    padding: 16px;
    left: 60rem;
    top: 12.96rem;

}


.Titulo{
    color : rgb(253, 253, 253);
    font-size: 30px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: 2rem;
    top: 4rem;

}

.Deterioro{

    font-size: x-large;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: 68rem;
    top: 9.1rem;

}

.Encargado {

    font-size: x-large;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: 75rem;
    top: 5.43rem;

}

.PlanInspeccion{
    
    font-size: x-large;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: 83rem;
    top: 1.7rem;


}


.Consultas{

    font-size: x-large;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: 94rem;
    top: -2rem;



}

.TareasEncarago{

    
    font-size: x-large;
    color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: 101rem;
    top: -5.7rem;


}

.A {
    font-size: x-large;
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    padding: 16px;
    left: 55.3rem;
    top: -9.3rem;

}

.svg{
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: 130rem;
    top: -1.5rem;
    

}